{% extends "adm_base.html" %}
{% block titleheader %}
  Manuell tagging av foto, {{ lopsinfo[0] }}
{% endblock %}
{% block refresh %}3600{% endblock %}
{% block titlemain %}
Manuell tagging av foto {{ valgt_klasse }}, {{ lopsinfo[0] }}
{% endblock %}

{% block menu %}
  <li class=dropdown id=topborder>
    <a href=javascript:void(0) class=dropbtn>Velg klasse</a>
    <div class=dropdown-content>
      <a href=foto>Alle</a>
      {% for klasse in klasser %}
        <a href=foto?klasse={{ klasse.Løpsklasse }}>{{ klasse.Klasse }}</a>
      {% endfor %}
    </div>
  </li>
{% endblock %}

{% block content %}
<div class="w3-row-padding">
  <div class="w3-half">
    <table>
      <tr id=spacer></tr>
      <tr id=headerblue>
        <td>Foto</td>
        <td colspan="3">Parametre registrert - redigering</td>
      </tr>
      <tr id=spacer></tr>
      {% for bilde in foto %}
      <tr>
        <td>
          <a class="tooltip" href="">
             <img class="img_desi" src="{{ bilde.Url_thumb }}">
             <span>
               <table><tr>
                 <td><img id=tooltipimage src="{{ bilde.Url_photo }}"></td>
                 <td>
                   {% if heatliste[bilde.Heat] %}
                     {% for heat in heatliste[bilde.Heat] %}
                       <nobr>{{ heat.Nr }} - {{ heat.Navn }} - {{ heat.Klubb }}</nobr><br>
                     {% endfor %}
                   {% endif %}
                  </td>
                </tr></table>
             </span>
          </a>
        </td>
        <td valign=top>
          <table>
            <tr><td>Tid:</td></tr>
            <tr><td>Startnummer:</td></tr>
            <tr><td>Klasse:</td></tr>
            <tr><td>Lokasjon:</td></tr>
          </table>
        </td>
        <td valign=top>
          <form name="Foto_Tags" action="/admin/foto" method="post">
            <table>
              <tr><td><input type=hidden name="DateTime" value="{{ bilde.DateTime }}"><input type=hidden name="Filename" value="{{ bilde.Filename }}">{{ bilde.DateTime }}</td></tr>
              <tr><td><input type=text name="Numbers" value="{{ bilde.Numbers }}"> {{ bilde.Numbers }}</td></tr>
              <tr><td>
                <select name="Løpsklasse">
                  <option value=""></option>
                  {% for klasse in klasser %}
                    <option value="{{ klasse.Løpsklasse }}"
                      {% if (klasse.Løpsklasse == bilde.Løpsklasse) %}
                        selected
                      {% endif %}
                      >{{ klasse.Klasse }}
                    </option>
                  {% endfor %}
                </select> Heat: {{ bilde.Heat }}
              </td></tr>
              <tr><td>
                <select name="Lokasjon">
                  <option value=""></option>
                  {% for lokasjon in lokasjoner %}
                    <option value="{{ lokasjon }}"
                      {% if (lokasjon == bilde.Lokasjon) %}
                        selected
                      {% endif %}
                      >{{ lokasjon }}
                    </option>
                  {% endfor %}
                </select>
              </td></tr>
              <tr><td align=center><input type=hidden name="OldNumbers" value="{{ bilde.Numbers }}"><input type="submit" name="" value="Oppdater"></td></tr>
            </table>
          </form>
        </td>
      </tr>
      <tr id=spacer></tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
