{% extends "adm_base.html" %}
{% block titleheader %}
  Sprint foto, {{ lopsinfo[0] }}
{% endblock %}
{% block refresh %}3600{% endblock %}
{% block titlemain %}
Sprint foto {{ valgt_klasse }}, {{ lopsinfo[0] }}
{% endblock %}

{% block menu %}
  <li class=dropdown id=topborder>
    <a href=javascript:void(0) class=dropbtn>Velg klasse</a>
    <div class=dropdown-content>
      <a href=foto>Alle</a>
      {% for klasse in klasser %}
        <a href=foto?klasse={{ klasse.Løpsklasse }}>{{ klasse.Klasse }}</a>
      {% endfor %}
    </div>
  </li>
{% endblock %}

{% block content %}
<div class="w3-row-padding">
  <div class="w3-half">
    <table>
      <tr id=spacer></tr>
      <tr id=headerblue>
        <td>Foto</td>
        <td colspan="3">Parametre registrert - redigering</td>
      </tr>
      <tr id=spacer></tr>
      {% for bilde in foto %}
      <tr>
        <td>
          <a class="tooltip" href="">
             <img class="img_desi" src="{{ bilde.Url_thumb }}">
             <span><img id=tooltipimage src="{{ bilde.Url_photo }}"></span>
          </a>
        </td>
        <td valign=top>
          <table>
            <tr><td>Tid:</td></tr>
            <tr><td>Startnummer:</td></tr>
            <tr><td>Løpsklasse:</td></tr>
            <tr><td>Heat:</td></tr>
            <tr><td>Lokasjon:</td></tr>
          </table>
        </td>
        <td valign=top>
          <form class="" action="/admin/foto?id={{ bilde._id }}" method="post">
            <table>
              <tr><td><input type=hidden name="Id" value="{{ bilde._id }}">{{ bilde.DateTime }}</td></tr>
              <tr><td><input type=text name="Numbers" value="{{ bilde.Numbers }}"> {{ bilde.Numbers }}</td></tr>
              <tr><td><input type=text name="Løpsklasse" value="{{ bilde.Løpsklasse }}"> {{ bilde.Løpsklasse }}</td></tr>
              <tr><td><input type=text name="Heat" value="{{ bilde.Heat }}"> {{ bilde.Heat }}</td></tr>
              <tr><td><input type=text name="{{ bilde.Lokasjon }}" value="{{ bilde.Lokasjon }}"> {{ bilde.Lokasjon }}</td></tr>
              <tr><td><input type="submit" name="" value="Oppdater"></td></tr>
            </table>
          </form>
        </td>
      </tr>
      <tr id=spacer></tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
