<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block titleheader %}{% endblock %} - Testsprinten</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <meta http-equiv="refresh" content="60">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h2 id=headerblue>{% block titlemain %}{% endblock %}</h2>

    <!-- Top Navigation Menu -->
    <ul>
      <li class=dropdown id=topborder>
        <a href=javascript:void(0) class=dropbtn>...</a>
        <div class=dropdown-content>
          <a href="/">Hovedside</a>
          <a href="start">Startlister</a>
          <a href="resultat">Resultater</a>
          <a href="live">Live scroll</a>
        </div>
      </li>
      {% block menu %}{% endblock %}
    </ul>

    {% block content %}{% endblock %}

    <h2 id=headerblue>Testsprinten 2021</h2>
  </body>
</html>
