<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block titleheader %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <meta http-equiv="refresh" content="60">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="w3-container">
      <h2 id=headerblue>{% block titlemain %}{% endblock %}</h2>

      <!-- Top Navigation Menu -->
      <ul>
        <li class=dropdown id=topborder>
          <a href=javascript:void(0) class=dropbtn>...</a>
          <div class=dropdown-content>
            <a href="/">Hovedside</a>
            <a href="/kjoreplan">Kjøreplan</a>
            <a href="deltakere">Deltakere</a>
            <a href="start">Startlister</a>
            <a href="live">Live scroll</a>
            <a href="resultat">Resultater</a>
          </div>
        </li>
        {% block menu %}{% endblock %}
      </ul>
    </div>

    {% block content %}{% endblock %}

    <div class="w3-container">
      <h2 id=headerblue>{% block footer %}{% endblock %}</h2>
    </div>
  </body>
</html>
