{% extends "base.html" %}
{% block titleheader %}
  Deltakere {{ valgt_klubb }}{{ valgt_klasse }}, {{ lopsinfo[0] }}
{% endblock %}

{% block refresh %}300{% endblock %}

{% block titlemain %}
  Deltakere {{ valgt_klubb }}{{ valgt_klasse }}, {{ lopsinfo[0] }}
{% endblock %}

{% block menu %}
  <li class=dropdown id=topborder>
    <a href=javascript:void(0) class=dropbtn>Velg klasse</a>
    <div class=dropdown-content>
      <a href=deltakere>Alle</a>
      {% for klasse in klasser %}
        <a href=deltakere?klasse={{ klasse.KlasseWeb }}>{{ klasse.Klasse }}</a>
      {% endfor %}
    </div>
  </li>
  <li class=dropdown id=topborder>
    <a href=javascript:void(0) class=dropbtn>Velg klubb</a>
    <div class=dropdown-content>
      <a href=deltakere>Alle</a>
      {% for klubb in klubber %}
        <a href=deltakere?klubb={{ klubb }}>{{ klubb }}</a>
      {% endfor %}
    </div>
  </li>
{% endblock %}

{% block content %}
  <div id=spacer></div>
  <div class="w3-container">
    <table>
      <tr id=headerblue>
        <td>Nr</td>
        <td>Navn</td>
        <td>Klubb</td>
        <td>Klasse</td>
        <td>Krets</td>
      </tr>
      {% for deltaker in deltakere %}
        {% if (deltaker.ÅrsKlasse == valgt_klasse) or (valgt_klasse == "") %}
          {% if ( valgt_klubb in deltaker.Klubb ) or (valgt_klubb == "") %}
            <tr>
              <td align=right>{{ deltaker.Startnr }}</td>
              <td><a href=live?klasse={{ deltaker.Løpsklasse }}&startnr={{ deltaker.Startnr }}>{{ deltaker.Navn }}</a></td>
              <td>{{ deltaker.Klubb }}</td>
              <td>{{ deltaker.ÅrsKlasse }}</td>
              <td>{{ deltaker.Krets }}</td>
            </tr>
            {% endif %}
        {% endif %}
      {% endfor %}
    </table>
  </div>
{% endblock %}
