{% extends "base.html" %}
{% block titleheader %}
  Sprint foto, {{ lopsinfo[0] }}
{% endblock %}
{% block refresh %}3600{% endblock %}
{% block titlemain %}
Sprint foto {{ valgt_klasse }}{{ valgt_klubb }}, {{ lopsinfo[0] }}
{% endblock %}

{% block menu %}
  <li class=dropdown id=topborder>
    <a href=javascript:void(0) class=dropbtn>Velg klasse</a>
    <div class=dropdown-content>
      <a href=foto>Alle</a>
      {% for klasse in klasser %}
        <a href=foto?klasse={{ klasse.Løpsklasse }}>{{ klasse.Klasse }}</a>
      {% endfor %}
    </div>
  </li>
  <li class=dropdown id=topborder>
    <a href=javascript:void(0) class=dropbtn>Velg klubb</a>
    <div class=dropdown-content>
      <a href=foto>Alle</a>
      {% for klubb in klubber %}
        <a href=foto?klubb={{ klubb }}>{{ klubb }}</a>
      {% endfor %}
    </div>
  </li>
{% endblock %}

{% block content %}
  <div class="w3-container">
      <table>
        <tr id=spacer></tr>
        <tr>
          {% for bilde in foto %}
            <td>
              <a href={{ bilde.Url_photo }}>
                <img src="{{ bilde.Url_thumb }}">
              </a>
            </td>
            <td>
              Personer: {{ bilde.Persons }}<br>
              Startnr: {{ bilde.Startnummer }}<br>
              Heat: {{ bilde.Heat }}<br>
              Løpsklasse: {{ bilde.Løpsklasse }}<br>
              Klubb: {{ bilde.Klubb }}
            </td>
            {% if (loop.index % 4) == 0 %}
              </tr><tr>
            {% endif %}
          {% endfor %}
        </tr>
        <tr id=spacer></tr>
      </table>
      <table>
        <tr>
          <td align=right>
            langrenn-sprint (GitHub) - utviklet av Lyn ski og Kjelsås langrenn
          </td>
        </tr>
        <tr id=spacer></tr>
      </table>
  </div>
  {{ foto }}
{% endblock %}
