{% extends "base.html" %}
{% block titleheader %}
  Velkommen
{% endblock %}
{% block titlemain %}
  Velkommen
{% endblock %}
{% block content %}
 <div>Kjøreplan for testsprinten. Benytt valg i menyen for å gå til startlister, live scroll eller resultatlister.</div>
 <table>
   <tr id=headerblue>
     <td>Starttid</td>
     <td>Klasse</td>
     <td>Runde</td>
     <td>Resultat</td>
    </tr>
      {% for heat in kjoreplan %}
      <tr>
        <td>{{ heat.Start }}</td>
        <td><a href=live?klasse={{ heat.Løpsklasse }}>{{ heat.Løpsklasse }}</a></td>
        <td>{{ heat.Runde }}</td>
        <td>{{ heat.Resultat }}</td>
      </tr>
      {% endfor %}
    </table>
{% endblock %}
