{% extends "base.html" %}
{% block title %}
  Velkommen
{% endblock %}
{% block content %}

        <h2>Kjøreplan</h2>
        <table>
          <tr id=headerblue>
            <td>Starttid</td>
            <td>Klasse</td>
            <td>Runde</td>
            <td>Resultat</td>
          </tr>
          {% for heat in heatliste %}
              <tr>
                <td>{{ heat.starttid }}</td>
                <td>{{ heat.lopsklasse }}</td>
                <td>{{ heat.runde }}</td>
                <td>{{ heat.resultat }}</td>
              </tr>
          {% endfor %}
        </table>
    <div id=spacer></div>

{% endblock %}
