{% extends "base.html" %}
{% block titleheader %}
  {{ valgt_klasse }} Live scroll
{% endblock %}

{% block titlemain %}
  {{ valgt_klasse }} Live scroll
{% endblock %}

{% block menu %}
  <li class=dropdown id=topborder>
    <a href=javascript:void(0) class=dropbtn>Velg klasse</a>
    <div class=dropdown-content>
      {% for klasse in klasser %}
          <a href=live?klasse={{ klasse.Løpsklasse }}>{{ klasse.Klasse }}</a>
      {% endfor %}
    </div>
  </li>
  <li class=dropdown id=topborder>
    <a href=javascript:void(0) class=dropbtn>Velg runde</a>
    <div class=dropdown-content>
        <a href=javascript:naviger("K")>Kvartfinaler</a>
        <a href=javascript:naviger("S")>Semifinaler</a>
        <a href=javascript:naviger("F")>Finaler</a>
    </div>
  </li>
  <li class=dropdown id=topborder>
    <a href=javascript:void(0) class=dropbtn>Velg løper</a>
    <div class=dropdown-content>
      {% if valgt_klasse == "" %}
        <a href=live>Velg klasse først</a>
      {% else %}
        <a href=live?klasse={{ valgt_klasse }}>Alle</a>
        {% for deltaker in deltakere %}
          <a href=live?klasse={{ valgt_klasse }}&startnr={{ deltaker.Startnr }}>{{ deltaker.Startnr }} {{ deltaker.Navn }}</a>
        {% endfor %}
      {% endif %}
    </div>
  </li>
{% endblock %}

{% block content %}
    <script>
      function naviger(id) {
        var elmnt = document.getElementById(id);
        elmnt.scrollIntoView();
      }
    </script>
    <table>
      {% for heat in kjoreplan %}
          <div id={{ heat.Heat[0] }} >
            {% if heat.resultat_registrert %}
              <tr id=headerblack>
                <td colspan=3>{{ heat.Runde }}</td>
                <td colspan=3>Resultater</td>
              </tr>
              <tr id=subheader>
                <td>Plass</td>
                <td>Nr</td>
                <td>Navn</td>
                <td>Klubb</td>
                <td></td>
                <td>Videre til</td>
              </tr>
            {% else %}
              <tr id=headerblue>
                <td colspan=3>{{ heat.Runde }}</td>
                <td colspan=3>Start kl. {{ heat.Start }}</td>
              </tr>
              <tr id=subheader>
                <td>Pos</td>
                <td>Nr</td>
                <td>Navn</td>
                <td>Klubb</td>
                {% if heat.Heat[0] == "F" %}
                  <td></td>
                  <td></td>
                {% else %}
                  <td>Plass</td>
                  <td>Videre til</td>
                {% endif %}
               </tr>
            {% endif %}
          </div>
        {% for loper in startliste %}
          {% if heat.Index == loper.Heat %}
            {% if loper.Nr == valgt_startnr %}
              <tr id=fremhev>
            {% else %}
              <tr>
            {% endif %}

              {% if heat.resultat_registrert %}
                <td>{{ loper.Plass }}</td>
                <td><div id={{ loper.Nr }}>{{ loper.Nr }}</div></td>
                <td>{{ loper.Navn }}</td>
                <td>{{ loper.Klubb }}</td>
                <td></td>
                <td>{{ loper.Videre_til }}</td>
              {% else %}
                <td>{{ loper.Pos }}</td>
                <td><div id={{ loper.Nr }}>{{ loper.Nr }}</div></td>
                <td>{{ loper.Navn }}</td>
                <td>{{ loper.Klubb }}</td>
                <td>{{ loper.Plass }}</td>
                <td>{{ loper.Videre_til }}</td>
              {% endif %}
              </tr>
          {% endif %}

        {% endfor %}

        <tr>
          <td id=spacer colspan=6> </td>
        </tr>

      {% endfor %}
    </table>
{% endblock %}
