{% extends "base.html" %}
{% block titleheader %}
  Startlister {{ valgt_klubb }}{{ valgt_klasse }}
{% endblock %}

{% block titlemain %}
  Startlister {{ valgt_klubb }}{{ valgt_klasse }}
{% endblock %}

{% block menu %}
  <li class=dropdown id=topborder>
    <a href=javascript:void(0) class=dropbtn>Velg klasse</a>
    <div class=dropdown-content>
      {% for klasse in klasser %}
        <a href=start?klasse={{ klasse.Løpsklasse }}>{{ klasse.Klasse }}</a>
      {% endfor %}
    </div>
  </li>
  <li class=dropdown id=topborder>
    <a href=javascript:void(0) class=dropbtn>Velg Runde</a>
    <div class=dropdown-content>
        <a href=javascript:naviger("K")>Kvartfinaler</a>
        <a href=javascript:naviger("S")>Semifinaler</a>
        <a href=javascript:naviger("F")>Finaler</a>
    </div>
  </li>
{% endblock %}

{% block content %}
    <script>
      function naviger(id) {
        var elmnt = document.getElementById(id);
        elmnt.scrollIntoView();
      }
    </script>
    {{ informasjon }}
    <table>
      {% for heat in kjoreplan %}
          <tr id=headerblue>
            <td colspan=3>{{ heat.Løpsklasse }} {{ heat.Runde }}</td>
            <td colspan=1>Start kl. {{ heat.Start }}</td>
          </tr>
          <tr id=subheader>
            <td><div id={{ heat.Heat[0] }} >Pos</div></td>
            <td>Nr</td>
            <td>Navn</td>
            <td>Klubb</td>
          </tr>
        {% for loper in startliste %}
          {% if heat.Index == loper.Heat %}
            <tr>
              <td>{{ loper.Pos }}</td>
              <td><div id={{ loper.Nr }}>{{ loper.Nr }}</div></td>
              <td><a href=live?klasse={{ valgt_klasse }}&startnr={{ loper.Nr }}>{{ loper.Navn }}</a></td>
              <td>{{ loper.Klubb }}</td>
            </tr>
          {% endif %}
        {% endfor %}
        <tr>
          <td id=spacer colspan=4> </td>
        </tr>
      {% endfor %}
    </table>
{% endblock %}
