{% extends "base.html" %}
{% block title %}
  Startlister {{ valgt_klubb }}{{ valgt_klasse }}
{% endblock %}
{% block content %}
    <script>
      function naviger(id) {
        var elmnt = document.getElementById(id);
        elmnt.scrollIntoView();
      }
    </script>
    <ul>
      <li class=dropdown id=topborder>
        <a href=javascript:void(0) class=dropbtn>...</a>
        <div class=dropdown-content>
          <a href=/>Hjem</a>
        </div>
      </li>
      <li class=dropdown id=topborder>
        <a href=javascript:void(0) class=dropbtn>Heat</a>
        <div class=dropdown-content>
          {% for heat in heatliste %}
            <a href=start#{{ heat.index }}>{{ heat.starttid }} {{ heat.lopsklasse }} {{ heat.runde }}</a>
          {% endfor %}
        </div>
      </li>
      <li class=dropdown id=topborder>
        <a href=javascript:void(0) clasubbopbtn>Klasse</a>
        <div class=dropdown-content>
          {% for klasse in klasser %}
            <a href=start?klasse={{ klasse.lopsklasse }}>{{ klasse.klasse }}</a>
          {% endfor %}
        </div>
      </li>
      <li class=dropdown>
        <a href=javascript:void(0) class=dropbtn>Klubb</a>
        <div class=dropdown-content>
          {% for klubb in klubber %}
            <a href=start?klubb={{ klubb }}>{{ klubb }}</a>
          {% endfor %}
        </div>
      </li>
      <li class=dropdown>
        <a href=javascript:void(0) class=dropbtn>Runde</a>
        <div class=dropdown-content>
            <a href=javascript:naviger("K")>Kvartfinaler</a>
            <a href=javascript:naviger("S")>Semifinaler</a>
            <a href=javascript:naviger("F")>Finaler</a>
        </div>
      </li>
    </ul>

    <h2>Startlister {{ valgt_klubb }}{{ valgt_klasse }} </h2>
    <table id=ramme>
      {% for heat in heatliste %}
        <div id={{ heat.runde[0] }} >
          <tr id=headerblue id={{ heat.index }}>
            <td colspan=3>{{ heat.lopsklasse }} {{ heat.runde }}</td>
            <td colspan=3>Start kl. {{ heat.starttid }}</td>
          </tr>
          <tr id=subheader>
            <td>Pos</td>
            <td>Nr</td>
            <td>Navn</td>
            <td>Klubb</td>
            {% if heat.runde[0] == "F" %}
                <td></td>
                <td></td>
              {% else %}
                <td>Plass</td>
                <td>Videre til</td>
              {% endif %}
          </tr>
        </div>
        {% for loper in loperliste %}

          {% if heat.index == loper.heat %}

            {% if loper.klubb == valgt_klubb %}
              <tr id=fremhev>
            {% else %}
              <tr>
            {% endif %}
              <td>{{ loper.pos }}</td>
              <td><div id={{ loper.nr }}>{{ loper.nr }}</div></td>
              <td>{{ loper.navn }}</td>
              <td>{{ loper.klubb }}</td>
              <td>{{ loper.plass }}</td>
              <td>{{ loper.videre_til }}</td>
            </tr>
          {% endif %}

        {% endfor %}

        <tr>
          <td id=spacer colspan=6> </td>
        </tr>

      {% endfor %}
    </table>

{% endblock %}
