{% extends "base.html" %}
{% block titleheader %}
  Startlister {{ valgt_klubb }}{{ valgt_klasse }}
{% endblock %}

{% block titlemain %}
  Startlister {{ valgt_klubb }}{{ valgt_klasse }}
{% endblock %}

{% block menu %}
  <li class=dropdown id=topborder>
    <a href=javascript:void(0) class=dropbtn>Velg klasse</a>
    <div class=dropdown-content>
      {% for klasse in klasser %}
        <a href=start?klasse={{ klasse.Løpsklasse }}>{{ klasse.Klasse }}</a>
      {% endfor %}
    </div>
  </li>
  <li class=dropdown id=topborder>
    <a href=javascript:void(0) class=dropbtn>Velg klubb</a>
    <div class=dropdown-content>
      {% for klubb in klubber %}
        <a href=start?klubb={{ klubb }}>{{ klubb }}</a>
      {% endfor %}
    </div>
  </li>
  <li class=dropdown id=topborder>
    <a href=javascript:void(0) class=dropbtn>Runde</a>
    <div class=dropdown-content>
        <a href=javascript:naviger("K")>Kvartfinaler</a>
        <a href=javascript:naviger("S")>Semifinaler</a>
        <a href=javascript:naviger("F")>Finaler</a>
    </div>
  </li>
{% endblock %}

{% block content %}
    <script>
      function naviger(id) {
        var elmnt = document.getElementById(id);
        elmnt.scrollIntoView();
      }
    </script>

    <table>
      {% for heat in heatliste %}
        <div id={{ heat.runde[0] }} >
          <tr id=headerblue id={{ heat.index }}>
            <td colspan=3>{{ heat.lopsklasse }} {{ heat.runde }}</td>
            <td colspan=3>Start kl. {{ heat.starttid }}</td>
          </tr>
          <tr id=subheader>
            <td>Pos</td>
            <td>Nr</td>
            <td>Navn</td>
            <td>Klubb</td>
            {% if heat.runde[0] == "F" %}
                <td></td>
                <td></td>
              {% else %}
                <td>Plass</td>
                <td>Videre til</td>
              {% endif %}
          </tr>
        </div>
        {% for loper in startliste %}

          {% if heat.index == loper.Heat %}

            {% if loper.klubb == valgt_klubb %}
              <tr id=fremhev>
            {% else %}
              <tr>
            {% endif %}
              <td>{{ loper.Pos }}</td>
              <td><div id={{ loper.Nr }}>{{ loper.Nr }}</div></td>
              <td>{{ loper.Navn }}</td>
              <td>{{ loper.Klubb }}</td>
              <td>{{ loper.Plass }}</td>
              <td>{{ loper.Videre_til }}</td>
            </tr>
          {% endif %}

        {% endfor %}

        <tr>
          <td id=spacer colspan=6> </td>
        </tr>

      {% endfor %}
    </table>
    {{ startliste }}

{% endblock %}
