<html lang=no>
<head>
  <meta http-equiv=Refresh content=60>
  <meta name=viewport content="width=device-width, initial-scale=1.0">
  <link rel=stylesheet type=text/css media=all href="http://www.harnaes.no/renn/styles.css" />
</head>
<body>
  <ul>
    <li class=dropdown>
      <a href=javascript:void(0) class=dropbtn>Startlister</a>
      <div class=dropdown-content>
        <a href=Start.html#SA1>9:00 MJ Semifinaler</a>
        <a href=Start.html#SA1>9:06 KJ Semifinaler</a>
        <a href=Start.html#FB>9:21 MJ Finaler</a>
        <a href=Start.html#FB>9:27 KJ Finaler</a>
      </div>
    </li>
    <li class=dropdown>
      <a href=javascript:void(0) class=dropbtn>Resultater</a>
      <div class=dropdown-content>
        <a href=Resultater_KJ.html>Kvinner junior</a>
      </div>
    </li>
    <li class=dropdown>
      <a href=javascript:void(0) class=dropbtn>Live</a>
      <div class=dropdown-content>
        <a href=Live_KJ.html>Kvinner junior</a>
        <a href=Live_G16.html>G 16</a>
      </div>
    </li>
  </ul>
  <p id=tittel>Testsprinten 2021</p>
  <table>
    <tr>
      <td>Startlister</td>
      <td>Startlister for alle heat i kronologisk rekkefølge. Oppdateres løpende.</td>
    </tr>
    <tr>
      <td>Resultater</td>
      <td>Viser resultatliste pr klasse - oppdateres etter at rennet er ferdig</td>
    </tr>
    <tr>
      <td>Live</td>
      <td>Oppdaterte startlister og resultater pr klasse. Også mulig å kun vise relevante heat for en løper.</td>
    </tr>
  </table>
</body>
</html>
