<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Webpage</title>
  <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<ul>
  <li class=dropdown>
    <a href=javascript:void(0) class=dropbtn>Startlister</a>
    <div class=dropdown-content>
      {% for heat in kjoreplan %}
      <a href=start?heat={{ heat.index }}>{{ heat.starttid }} {{ heat.klasse }} {{ heat.runde }}</a>
      {% endfor %}
    </div>
  </li>
  <li class=dropdown>
    <a href=javascript:void(0) class=dropbtn>Resultater</a>
    <div class=dropdown-content>
      {% for klasse in klasser %}
      <a href=resultat?klasse={{ klasse.lopsklasse}}>{{ klasse.klasse}}</a>
      {% endfor %}
    </div>
  </li>
  <li class=dropdown>
    <a href=javascript:void(0) class=dropbtn>Live</a>
    <div class=dropdown-content>
      {% for klasse in klasser %}
      <a href=live?klasse={{ klasse.lopsklasse}}>{{ klasse.klasse}}</a>
      {% endfor %}
    </div>
  </li>
</ul>
<p id=tittel>Testsprinten 2021</p>
<table>
  <tr>
    <td>Startlister</td>
    <td>Startlister for alle heat i kronologisk rekkefølge. Oppdateres løpende.</td>
  </tr>
  <tr>
    <td>Resultater</td>
    <td>Viser resultatliste pr klasse - oppdateres etter at rennet er ferdig</td>
  </tr>
  <tr>
    <td>Live</td>
    <td>Oppdaterte startlister og resultater pr klasse. Også mulig å kun vise relevante heat for en løper.</td>
  </tr>
</table>
</body>
</html>
