body {
    background-color: lightskyblue;
    font-family: Arial, Verdana;
    margin: auto;
}
* {
  box-sizing: border-box;
  margin: auto;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  padding: 4px;
  margin: auto;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  margin: auto;
}

@media only screen and (min-width: 800px) {
    /* For tablets: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

ul {
  	list-style-type: none;
    top: 0;
    margin: 0;
    padding: 0;
		background-color: blue;
}

#topborder {
  	border-right: 1px solid white;
	 	right: 0;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
  font-size: 150%;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: grey;
}

.dropbtnactive {
  background-color: grey;
}

.active {
  background-color: grey;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 4px 4px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f0f0f0;}

.dropdown:hover .dropdown-content {
  display: block;
}

h1 {
  text-align: center;
  padding: 4px 4px 4px 4px;
}
h2 {
  text-align: center;
  padding: 4px 4px 4px 4px;
}

table {
	border-spacing: 0;
  min-width: 600px;
}

td {
  padding-left: 5px;
}

a {
  color: black;
}

#error {
	color: red;
}

#success {
    color: green;
}

#headerblue {
    color: white;
    background-color: blue;
}

#headerblack {
    color: white;
    background-color: black;
}

#fremhev {
    background-color: yellow;
}

#spacer {
  height: 10px;
}

#bredde {
  vertical-align: top;
}

#subheader {
    background-color: lightgrey;
}

#ramme  {
  background-color: white;
  border: 2px solid black;
  outline: 1px solid lightgrey;
}
